<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.2/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-image: url('/backgroundsImages/libraryHomePage.jpg'); /* путь к файлу в static */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            margin: 0;
        }
        .overlay {
            background-color: rgba(0, 0, 0, 0.6);
        }
    </style>
</head>
<body>
<div class="overlay flex items-center justify-center h-full">
    <h1 class="text-white text-4xl font-bold drop-shadow-lg">Добро пожаловать</h1>
</div>
</body>
</html>
