<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        body {
            background-image: url('/backgroundsImages/libraryHomePage.jpg'); /* путь к файлу в static */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            margin: 0;
        }
        .overlay {
            background-color: rgba(0, 0, 0, 0.6);
        }
    </style>
</head>
<body>

    <h1 class="text-white text-4xl font-bold drop-shadow-lg">Добро пожаловать</h1>

<button th:onclick="|location.href='@{/goReadRoom}'|"
        class="mt-8 bg-indigo-600 text-white px-4 py-2 rounded hover:bg-indigo-700 transition">
    Перейти в читальню
</button>

    <button th:onclick="|location.href='@{/addBook}'|"
            class="mt-8 bg-indigo-600 text-white px-4 py-2 rounded hover:bg-indigo-700 transition">
        Добавить книгу
    </button>

</body>
</html>
